@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);


@mixin prefixer ($property, $value,
 $webkit: true,
 $moz: true,
 $ms: true,
 $o: false,
 $spec: true) {
  @if $webkit { -webkit-#{$property}: $value; }
  @if $moz    {    -moz-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}

@mixin hCenter($dis){
   @include prefixer(transform, translate(0,$dis));
}

@mixin centerMe(){
   @include prefixer(transform, translate(0,-50%));
   top: 50%;
   margin: 0 auto;
   right:0;
   left: 0;
   text-align: center;
   position: absolute;
}

@mixin animate($time){
  @include prefixer(transition, all $time ease-in-out);
}

$orange: #FC5020;

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

.append-back {
	animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 1000;
  text-align: center;
  transition: all 0.3s;
}

.loading-image {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -103px;
  z-index: 1001;
}

.main-logo {
  	z-index: 1002;
	margin-top: -130px;
}

a:link {
	outline: none;
    text-decoration: none;
	color: #000000;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#000000;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#000;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.spacer {
	height: 90px;
	@media screen and (max-width: 740px){
		display: none;
	}
}

/* ------------------------------------------------------------------------------ header and nav */ 
@media only screen and (min-width: 0px) {
.not-so-fixie {
		display: none;
	}
.fixed-header {
 	display: none;
}

}

@media only screen and (min-width: 740px) {
	.not-so-fixie {
		display: block;
	}
	.fixed-header {
 	display: block;
}

}

	.header {
	text-align: center;
}


.headerimage {
	margin-top: 14px;
}

.not-so-fixie {
	width: 100%;
	z-index: 10;
	overflow: hidden;
}


.fixed-header {
 	position: fixed;
 	z-index: 20;
 	width: 100%;
}

.header {
	position: relative;
	width: 100%;
	height: 90px;
	background: #333;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	}

.headerlinks {
	position: absolute;
	right: 0;
}

.headerlinks li{
	display: inline-block;
	margin-top: 32px;
	margin-right: 20px;
	font-weight: 100;

	}

.headerlinks li div {
	color: white;
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.headerlinks li div:hover {
	color: #ff5c19;
}

.headerlinks button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	border-style: solid;
	border-color: rgba(180, 180, 180, 1);
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 2px;
	padding: 3px 6px 3px 6px;
	outline: none;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0);
	color: rgba(180, 180, 180, 1);
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.headerlinks button:hover {
	color: #ff5c19;
}

.header2 {
	position: relative;
	padding: 10px;
	width: 100%;
	background: #333333;
	z-index: 5;
	box-sizing: border-box;
}

.header3 {
	position: absolute;
	z-index: 5;
	@include hCenter(-50%);
	top: 50%;
	@media screen and (max-width: 960px){
		li a {
			font-size: 12px;
		}
	}
	a {
		color: white;
		@include animate(0.3s);
		&:hover {
			color: $orange;
		}

	}
	@media screen and (max-width: 740px){
		background: none !important;
		width: 100% !important;
		position: relative;
		top:0;
			@include hCenter(0%);
		.nav {
			text-align: center;
			li {
				width: 100%;
				display: block;
			}
			.v-bar {
				height:0;
			}
		}
	}
}

.nav {
	text-align: left;
	margin-left: 12px;
	font-size: 0;
	input {
		display: block;
		box-sizing: border-box;
		padding-left: 5px;
	}
}

.nav li {
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
	vertical-align: middle;
	color: #fff;
}

.nav li img {
	position: relative;
	top: 3px;
}


.v-bar {
	position: relative;
	top: 2px;
	width: 2px;
	height: 25px;
	background-color: rgba(250, 250, 250, .2);
}





.showall {
	margin-top: 4px;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

.row {
	width: 100%;
}

.col {
	position: relative;
	float: left;
	height: 100%;
	-ms-overflow-style: none;
	
}


.left {
	z-index: 10;
	position: absolute;
	width: 250px;
	background: rgba(120, 120, 120, .5);
	-ms-overflow-style: none;
	/* height: 100%; */
	overflow: scroll;
	/* left: -250px; add in to hide menu */
	height: 0;
}

.left::-webkit-scrollbar { 
    display: none; 
}

.left {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.right {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	-webkit-transform: translate3d(0,0,0);

}

.right video {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url(images/background.jpg) no-repeat center top;
	background-size: cover;


	z-index: -20;
}

.right::after {
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 500px;
		background: #555;
		opacity: .8;
		position: absolute;
		z-index: -5;	
}

video {
 	display: block; 


}



/* ------------------------------------------------------------------------------ checkbox */ 

@media only screen and (min-width: 0px) {
	.limiter {
		min-width: 280px;
		width: 50%;
		margin: 0 auto;
	}
	}


@media only screen and (min-width: 1080px) {
	.limiter {
		width: 80%;
		margin: 0 auto;
	}
}

 .menu {
	position: absolute;
	z-index: 5;
	margin: 2%;
}

 .menu li{
 	width: 20px;
 	height: 3px;
 	margin: 3px;
 	background: #fff;
}

.x {
	position: absolute;
	right: 0;
	margin: 5px;
	z-index: 5;
}



.checkboxes {
	position: relative;
	overflow: scroll;
	font-size: 15px;
	text-transform: uppercase;
	text-align: right;
	height: 100%;
	font-weight: 100;
	color: white;
}

.checkboxes::-webkit-scrollbar { 
    display: none; 
}

.checkboxes ul {
	margin-top: 30px;
}

.checkboxes ul li{
	margin: 20px 30px 20px 10px;
	}

.checkbox {
   position: relative;
  margin-left: 20px; 
  margin-right: 20px;
  //top: 2px;
  //-webkit-appearance:none;
    background:white;
    border-radius:1px;
    border: 0 none;
    width: 15px;
    height: 15px;

}

/* ------------------------------------------------------------------------------ mobile nav */ 

@media only screen and (min-width: 0px) {
	.mobile-nav {
		display: block;
	}
	
}

@media only screen and (min-width: 740px) {
	.mobile-nav {
		display: none;
	}
		#search_input {
		position: relative;
		height: 20px;
		border-radius: 3px;
		border: none;
		top: 2px;
 		outline: none;
 		color: #000;
 		width: 90px;
	}
}

#search_input {
		position: relative;
		height: 35px;
		border-radius: 2px;
		border: none;
 		outline: none;
 		color: #000;
 		width: auto;
	}

#search_input_mobile {
	position: relative;
	height: 20px;
	border-radius: 3px;
	border: none;
	top: 2px;
 	outline: none;
}

.header-mobile {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #555;
	z-index: 50;
	top:0;
}

.header-mobile img{
margin-left: 10px;
	margin-top: 5px;
	}

 .mobile-right-box {
	position: fixed;
	right: 0;
	margin-right: 10px;
	margin-top: 12px;
}

.mobile-right-box li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.mobile-right-box li a div{
	color: white;
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.mobile-right-box li a div:hover{
	color: #ff5c19;
}


 .menu-mobile li{
 	width: 20px;
 	height: 3px;
 	margin: 3px;
 	display: block;
 	background: rgba(255, 255, 255, .5);
 	-moz-transition: background 0.5s ease-in-out;
	-ms-transition:  background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}


.menu-mobile:hover li{
		background: rgba(255, 255, 255, 1)
}

.nav-mobile {
	top: -110%;
	position: fixed;
	background: rgba(0, 0, 0, .7);
	padding: 5px;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 5000000;
	.mobile{
		overflow: scroll;
		height: 100%;
	}
	}


.x-mobile {
	position: absolute;
	left: 0;
	margin: 5px;
	z-index: 5000000;
}

.mobile-polo-links {
	width: 100%;
	
}

.mobile-polo-links li{
	display: inline-block;
	font-weight: 100;

	}

.mobile-polo-links button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	border-style: solid;
	border-color: rgba(180, 180, 180, 1);
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 2px;
	outline: none;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0);
	color: rgba(180, 180, 180, 1);
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.mobile-polo-links button:hover {
	color: #ff5c19;
}	

.mobile {
	position: relative;
	overflow: scroll;
	font-size: 15px;
	text-transform: uppercase;
	text-align: right;
	height: 100%;
	font-weight: 700;
	color: rgba(150, 150, 150, 1);
	z-index: 5;
}

.checkboxes .mobile::-webkit-scrollbar { 
    display: none; 
}

.checkboxes .mobile ul {
	margin-top: 30px;
}

.checkboxes .mobile ul li{
	margin: 20px 30px 20px 10px;
	}



/* ------------------------------------------------------------------------------ map  */


.map {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 800px;
	z-index: 1;
}

/* .map path {
	fill: url(#backgroundimage);
} */

#map-background {
	position: absolute;
}

.clock {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 100;
}

.nextgame{
	position: absolute;
	right: 0;
	z-index: 10;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	bottom: 20px;
	right: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	display: none;
}

.gamename {
	font-size: 14px;
}

.row-mobile {
	width: 100%;
	background: url(images/background.jpg) no-repeat center center;
	padding-top: 90px;
	padding-bottom: 50px;
}

.nextgame-mobile{
	position: relative;
	z-index: 10;
	color: #FFFFFF;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.right-content {
	width: 30%;
	color: white;
	position: absolute;
	right: 0;
	text-align: right;
}

/*

.right-content p{
	text-align: right;
	}

.right-content a{
	color: #ff5c19;
	font-weight: bold;
	}
*/

@media only screen and (min-width: 0px) {
	.right-content {
		font-size: 12px;
		max-width: 250px;
		}
}

@media only screen and (min-width: 900px) {
	.right-content {
		font-size: 15px;
		max-width: 300px;
		}
	}


/* ------------------------------------------------------------------------------ videos */



.video-list {                  /*------------ main video container */ 
	width: 100%;
	margin-top: 50px;
	font-size: 0;
	tag {
		display: inline-block;
		vertical-align: top;
		width: 11.6%;
		margin-right: 1%;
		color: white;
		margin-bottom: 50px;
		min-height: 250px;
		font-size: 12px;
		white-space: normal;
		background: rgba(230,230,230,1);
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		@media screen and (max-width: 1200px) {
			width: 24.5%;
		}
		@media screen and (max-width: 600px) {
			width: 49.5%;
		}
		h4 {
				box-sizing: border-box;
				padding: 0 10px 0 10px;
				color: #222222;
				margin:0;
			}
		.img-contain {
			width: 100%;
			height: 150px ;
			position: relative;
			border: 0 none !important;
			div {
				width: 100%;
				height: 100%;
				display: block;
				border: 0 none !important;
			}

		}
	}
}

.cut-off {						 /*------------ hides overflow forcing users to scroll */ 
	margin: 0 auto;
	width: 90%;
	overflow: scroll;
	position: relative;
}

.cut-off::-webkit-scrollbar { 	
    display: none; 
}

.vids {							/*------------ subcat for each vid list (white-space: norwarp keeps the vids from jumping down to the next line) */ 
	width: auto;				/*------------ do no set to position absolute or h3 tag will go with scroll */ 
	margin: 0 auto;
	white-space: nowrap;
}


.vids::-webkit-scrollbar { 
	display: none; 
	}

.arrows h3{
	text-transform: uppercase;
	font-size: 15px;
	color: black;
	width: 90%;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 5%;
	border-bottom: 1px solid rgba(220,220,220,1);
	padding-bottom: 5px;
}

.arrows {
	position: relative;
	
}

.left-arrow {
	position: absolute;
	left: 0;
	margin-left: 20px;
	color: gray;
	//border-right: 1px solid gray; 
	padding: 5px;
	font-size: 15px;
	top: 50%;
	cursor: pointer;
	@include hCenter(-50%);
	@media screen and (max-width: 1200px) {
		margin-left: 10px;
	}
	@media screen and (max-width: 768px) {
		display: none;
	}

}

.right-arrow {
	position: absolute;
	right: 0;
	margin-right: 20px;
	color: gray;
	//border-left: 1px solid gray;
	padding: 5px;
	font-size: 15px;
	top: 50%;
	cursor: pointer;
	@include hCenter(-50%);
	@media screen and (max-width: 1200px) {
		margin-right: 10px;
	}
	@media screen and (max-width: 768px) {
		display: none;
	}
	
}


tspan {
	display: none;
}

.live-stream {
	position: fixed;
	z-index: 2000;
	width: 100%;
	top: 50%;
	}

.vid-contain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid-contain iframe,
.vid-containr object,
.vid-contain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    min-width: 300px;
    min-height: 250px;
    margin: 0 auto;
    right: 0;
    left:  0;
    overflow: hidden;
}

.background-color {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .8);
	z-index: 1000;
	color: white;
	text-align: right;
}

.background-color img{
	margin: 20px;
	width: 20px;
}


.row-mobile button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	border-style: solid;
	border-color: rgba(180, 180, 180, 1);
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 2px;
	padding: 3px 6px 3px 6px;
	outline: none;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0);
	color: rgba(180, 180, 180, 1);
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.row-mobile button:hover {
	color: #ff5c19;
}

.row-mobile {
	text-align: center;
}


// feed 

.polo-feed {
	width: 100%;
	font-size: 0;
	overflow: hidden;
	.three-col {
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		height: 100%;
		.read-full {
			color: $orange;
			font-size: 12px;
			font-weight: bold;
		}
	}
	.small-col {
		 width: 20%;
		 overflow: scroll;
		 height: 100%;
		 height: 500px;
		 box-sizing: border-box;
		 iframe {
		 	display: none !important;
		 }
		 video {
		 	display: none !important;
		 }
		
		 &:first-child {
		 	border-right: 1px solid rgba(200,200,200,1);
		 }
		 &:last-child {
		 	border-left: 1px solid rgba(200,200,200,1);
		 }
		 .active {
		 	background: #FC5020 !important;
		 	color: white;
		 	@include animate(0.3s);
		 	i {
		 		display: block !important;
		 	}
		 	.inline {
		 		a {
		 		color: white !important;
		 		}
		 	}
		 	
		 }
		 .blog_post {
		 	width: 100%;
			border-bottom: 1px solid rgba(200,200,200,1);
			padding: 10px;
			box-sizing: border-box;
			position: relative;
			@include animate(0.3s);
			&:hover {
				 background: rgba(200,200,200,1);
			}

			h4 {
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 1px;
			}
			h5 {
				margin: 0;
				padding:0;
				font-size: 10px;
			}
			i {
				display: none;
				position: absolute;
				right: 0;
				margin-right: 10px;
				font-size: 20px;
				top: 50%;
				@include hCenter(-50%);
			}
			

			.blog-content {
				p {
					font-size: 0;
					img {
						display: none;
					}
				}
				iframe {
					display: none;
				}
				video {
					display: none;
				}
				img {
					display: none;
				}
				.inline {
					display: inline-block;
					vertical-align: middle;
				}
			}
		 }
	}
	.large-col {
		width: 60%;
		overflow:hidden;
		box-sizing: border-box;
		padding: 30px;
		height: 100%;
		height: 500px;
		overflow: scroll;
		background: #e6e6e6;
		.blog_post {
			text-align: left;
			width: 95%;
			margin: 0 auto;
			color: #222222;
			right: 0;
			left:0;
			padding-bottom: 20px;
		}
		h4 {
			font-size: 25px;
			font-weight: bold;
			margin: 0;
			padding:0;
			text-transform: uppercase;
			text-align: center;
			color: $orange;
		}
		h5 {
			text-align: center;
			margin: 0;
			padding: 0;
			font-size: 12px;
			margin-bottom: 30px;
		}
		i {
			display: none;
		}
		p {
			font-weight: 400;
			font-size: 15px;
			color: #727272;
			@media screen and (max-width: 960px){ 
				img {
					width: 100%;
					height: auto;
					margin: 10px 0;
				}
			}
		}
		.read-full {
			display: none;
		}

	}
}

.score_post {
	font-size: 0;
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid rgba(200,200,200,1);
	@media screen and (max-width: 1200px){
		text-align: center;
		.border-left {
			border: 0 none !important;
		}
	}
	@media screen and (max-width: 740px){
		.border-left {
			border-left: 1px solid rgba(200,200,200,1) !important;
		}
	}
	.game-date {
			font-size: 12px;
			font-weight: 300;
			padding-right: 5%;
			width: 50px;
			text-align: center;
			img {
				width: 100%;

			}
		}
	.tname {
		h4 {
			display: inline-block;
			border-bottom: 1px solid gray;
			color: gray;
		}
	}
	.inline	{
		display: inline-block;
		vertical-align: middle;
	}
	.border-left {
		border-left: 1px solid rgba(200,200,200,1);
		padding-left: 5%;
	}
		h4 {
			font-size: 18px;
			margin: 0;
			padding:0;
			font-weight: bold;
			span {
				color: #FC5020 ;
			}
		}
		h5 {
			font-size: 14px;
			margin: 0;
			padding:0;
			font-weight: 300;
			span {
				color: #FC5020 ;
			}
		}

}

.polo-feed-mobile {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	padding: 60px 20px 0 20px !important;
	margin-bottom: 20px;

	.scroller{
		width: 100%;
		overflow: hidden;
		font-size: 0;
		margin-bottom: 5px;
	}
	h3 {
		font-size: 15px;
		border-bottom: 1px solid #222222;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.blog_post {
		 width: 50% !important;
		 margin: 0!important;
		 @media screen and (max-width: 740px) {
				width: 100% !important;
		 }
	}
}



.blog-list, .polo-feed-mobile {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 50px;
	text-align: center;
	@media screen and (max-width: 740px) {
		padding: 100px 50px 50px 50px;
	}
	.blog_post {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 23%;
		margin-right: 1%;
		color: white;
		margin-bottom: 50px;
		font-size: 12px;
		white-space: normal;
		background: rgba(230,230,230,1);
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		min-height: 350px;
		@include animate(0.3s);
		&:hover {
			box-shadow: 0 0 5px rgba(0,0,0,.5);
		}
		@media screen and (max-width: 1200px) {
			width: 24.5%;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
		}
	.blog-content {
		img {
			display: none;
		}
		width: 100%;
			.list-img {
				width: 100%;
				height: 200px;
			}
			h4 {
					color: #222222;
					margin:0;
					padding: 20px 10px 0 10px;
					box-sizing: border-box;
			}
			h5 {
					color: #222222;
					margin:0;
					font-size: 12px;
					padding: 0 10px 0 10px;
					box-sizing: border-box;
			}
			p {
				font-size: 12px;
				padding: 0 10px 0 10px;
				box-sizing: border-box;
				font-weight: 300;
				color: #222222;
				text-transform: none;
				img {
					display: none;
				}
			} 
			.inline {
				a {
					padding-left: 10px;
					color: $orange;
				}
			}
		}
	}
}


.blog_page {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
	@media screen and (max-width: 768px) { 
		padding-top:60px;
	}

	h4 {
		font-size: 30px;
		text-align: center;
		margin:0;
		color: #333333;
	}
	h5 {
		text-align: center;
		font-size: 12px;
		margin: 0;	
		color: $orange;
		padding-bottom: 30px;
	}
	 p{
	 	color: #999999;
	 }
	 @media screen and (max-width: 768px) { 
			img,iframe,video {
				width: 100% !important;
				height: auto !important;
				margin: 10px 0 !important;
				border: 0 none;
			}
	 	}
}



.modal-body {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: fixed;
	z-index: 5000000;
	display: none;
	form {
		width: 90%;
		max-width: 400px;
		padding: 20px;
		box-sizing: border-box;
		text-align: center;
		@include centerMe();
		background: white;
		border-radius: 3px;
		fieldset {
			border: 0 none;
			text-align: center;
			width: 100%;
			display: block;
			box-sizing: border-box;
			h3 {
				font-size: 30px;
				margin: 0 0 20px 0;
				padding:0;
			}
			input {
				display: block;
				padding: 10px;
				border: 1px solid gray;
				margin-bottom: 10px;
				width: 100%;
				box-sizing: border-box;
				&:last-child{
					border: 0 none;
					color: white;
					background: $orange !important;
				}
			}
		}
	}
}

.hide-mobile {
	display: block;
	@media screen and (max-width: 740px) {
		display: none;
	}
}



.map-btn {
	padding: 5px;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 2px;
	color: white;
	top: 2px;
	position: relative;
	@include animate(0.3s);
	@media screen and (max-width: 740px){
		display: none;
	}
	&:hover {
		background: white;
		color: black;
	}
}











