<div class="fixed-header">
  <div class="header">

[[$header3]]

      [[$buttons]]
    <a href="/"><img src="images/mainlogo.png" alt="" height="70" class="headerimage"></a>
  </div>

  
</div>
<div class="spacer"></div>
<div class="not-so-fixie">