[[$doc_head]]
[[$subscribe]]



<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div id="loading">
     <img class="loading-image main-logo"src="images/mainlogo_black.png" alt="">
       <img class="loading-image" src="images/loading.gif" alt="Loading..." />
  </div>
</div>
  [[*live-stream:notempty=`<div class="hide-vid">
  <div class="live-stream">
    <div class="vid-contain">
      <iframe  src="[[*live-stream]]" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="background-color close-stream"><img src="images/x.png" class="close-stream" alt=""></div>
</div>`]]

[[$header]]
[[$feed]]


[[$header2]]

<div class="vid-scroll"></div>
  <div class="row">
    <div class="left col">
      <div class="checkboxes">
          <ul class="continents sub-nav">
            [[!getResources? &depth=`0` &parents=`1` &resources=`-4,-5` &sortby=`{"menuindex":"ASC"}` &limit=`` &tpl=`continents` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
          </ul>

          <ul class="regions sub-nav">
            <li>north<input id="north" class="checkbox" type="checkbox"/></li>
            <li>south<input id="south" class="checkbox" type="checkbox"/></li>
            <li>east<input id="east" class="checkbox" type="checkbox"></li>
            <li>west<input id="west" class="checkbox" type="checkbox"></li>
            <li>central<input id="central" class="checkbox" type="checkbox"></li>
          </ul>

           <ul class="clubs sub-nav">
            [[$clubs-nav]]
          </ul>
      </div>
      <div class="description"></div>
    </div>

    <div class="right col">
      <div class="limiter">
        <div class="map" id="map"></div>
      </div>
      <video loop autoplay>
        <source src="[[*mp4-video]]" type="video/mp4">
        <source src="[[*obg-video]]" type="video/ogg">
      </video>
    </div>
  </div>
</div>


<!-- _____________________________________________________________________________________ mobile menu !-->


<div class="mobile-nav">
  
  <div class="header-mobile">
    <ul class="mobile-right-box">

      <li><a href="https://www.facebook.com/polochannelnetwork" target="_blank"><div class="fa fa-facebook-official"></div></a></li>
      <li><a href="https://instagram.com/thepolochannel" target="_blank"><div class="fa fa-instagram"></div></a></li>
      <li><a href="mailto:contact@horseplay.tv"><div class="fa fa-envelope"></div></a></li>
       <li> 
          <ul class="menu-mobile">
              <li></li>
              <li></li>
              <li></li>
          </ul>
       </li>
    </ul>
      <a href="/"><img src="images/mainlogo.png" alt="" height="40" ></a>
  </div>
  

    <div class="nav-mobile">
      <div class="checkboxes mobile">
        <div class="x-mobile"><img src="images/x.png" width="20" alt=""></div>
          <div class="background-mobile"></div>

        <ul class="search_showall"> 
		    <li>[[$header3]]</li>
            <li><input type="text" id="search_input_mobile" placeholder="search..."></li>
            <li><div class="showall">show all</div></li>
          </ul>


          <ul class="cat sub-nav">
            <li>news<input id="news" class="checkbox" type="checkbox"/></li>
            <li>games<input id="games" class="checkbox" type="checkbox"/></li>
            <li>profiles<input id="profiles" class="checkbox" type="checkbox"></li>
            <li>featured<input id="featured" class="checkbox" type="checkbox"></li>
          </ul>

          <ul class="continents sub-nav">
            [[!getResources? &depth=`0` &parents=`1` &resources=`-4,-5` &sortby=`{"menuindex":"ASC"}` &limit=`` &tpl=`continents` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
          </ul>

          <ul class="regions sub-nav">
            <li>north<input id="north" class="checkbox" type="checkbox"/></li>
            <li>south<input id="south" class="checkbox" type="checkbox"/></li>
            <li>east<input id="east" class="checkbox" type="checkbox"></li>
            <li>west<input id="west" class="checkbox" type="checkbox"></li>
            <li>central<input id="central" class="checkbox" type="checkbox"></li>
          </ul>

           <ul class="clubs sub-nav">
            [[$clubs-nav]]
          </ul>
      
      [[$buttons]]
    </div>

    </div>




      [[$feed-mobile]]
    

</div>

<div id="scores"></div>



<ul class="video-list"> 
  <!-- Most Recent -->
    <div class="arrows">
      <div class="left-arrow most-recent"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
      <div class="right-arrow most-recent"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
		 <h3>Most Recent</h3>
    <div class="cut-off" id="most-recent">

      <div class="vids search_list">

          [[getResources? &parents=`1` &depth=`1`  &where=`{"template:=":1}` &sortby=`{"publishedon":"DESC"}` &limit=`0` &includeContent=`1` &tpl=`item-recent` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
      </div>
    </div>
  </div>
<!-- Favorite -->
<div class="arrows">
      <div class="left-arrow most-popular"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
      <div class="right-arrow most-popular"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <h3>Most Popular</h3>
    <div class="cut-off" id="most-popular">

      <div class="vids search_list">

          [[getResources? &parents=`1` &depth=`1`  &where=`{"template:=":1}` &sortby=`{"publishedon":"DESC"}` &limit=`0` &includeContent=`1`  &tvFilters=`featured==Most popular` &tpl=`item-recent` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
      </div>
    </div>
  </div>
    
    [[!getResources? &depth=`0` &parents=`1` &resources=`-4,-5` &sortby=`{"menuindex":"ASC"}` &limit=`` &tpl=`parent` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]

</ul>
<script>
simplemaps_worldmap_mapdata.locations = [[!polo_locations]];
</script>
[[$doc_footer]]
