<div class="fixed-header">
  <div class="header">
    
      [[$buttons]]
    <a href="/"><img src="images/mainlogo.png" alt="" height="70" class="headerimage"></a>
  </div>

  <div class="header2">
    <ul class="nav">
      <li class="group_toggle" id="group1">games&nbsp;<img src="map_images/blue.png" height="20"></li>
      <li><div class="v-bar"></div></li>
      <li class="group_toggle" id="group3">featured&nbsp;<img src="map_images/yellow.png" height="20"></li>
      <li><div class="v-bar"></div></li>
      <li class="group_toggle" id="group2">profiles&nbsp;<img src="map_images/green.png" height="20"></li>
      <li><div class="v-bar"></div></li>
      <li class="group_toggle" id="group0">events&nbsp;<img src="map_images/orange.png" height="20"></li>
      <li><div class="v-bar" height="20"></div></li>
      <li><div class="showall">show all</div></li>
     
            <li><input type="text" id="search_input" placeholder="search..."></li>
       
    </ul>

  </div>
</div>
<div class="spacer"></div>
<div class="not-so-fixie">