<tag class="[[#[[+parent]].pagetitle:lcase:replace=` ==`]][[+region:notempty=` [[+region:lcase]]`]][[+club:notempty=` [[#[[+club]].pagetitle:lcase]]`]][[+tags:notempty=` [[+tags:lcase:replace=`,== `]]`]]">
  <a href="#[[+youtube]]" class="link-lightbox" data-videoid="[[+youtube]]" data-videosite="[[+video-type:lcase]]">
  	<div class="img-contain">
	[[+video-type:is=`YouTube`:then=`<img src = "http://img.youtube.com/vi/[[+youtube]]/mqdefault.jpg"/>`:else=`<img class="vimeo-[[+youtube]]" src = ""/>`]]
	</div>
    <br><div class="match-name">[[+pagetitle]]</div><div class="vs">[[+content:striptags]]</div></a>
</tag>