<div class="arrows">
      <div class="left-arrow sa"><img src="images/arrow.png"></div>
      <div class="right-arrow sa"><img src="images/arrow.png"></div>
   
    <div class="cut-off" id="sa">
      <div class="vids search_list">
        <h3>Most Recent</h3>
          [[getResources? &parents=`1` &depth=`1`  &where=`{"template:=":1}` &sortby=`{"menuindex":"ASC"}` &includeContent=`1` &limit=`0` &tpl=`item` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
      </div>
    </div>
  </div>