<div class="arrows">
      <div class="left-arrow [[+description]]"><img src="images/arrow.png"></div>
      <div class="right-arrow [[+description]]"><img src="images/arrow.png"></div>
   
    <div class="cut-off" id="[[+description]]">
      <div class="vids search_list">
        <h3>[[+pagetitle]]</h3>
          [[getResources? &parents=`[[+id]]`&depth=`1`  &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`item` &includeContent=`1` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
      </div>
    </div>
  </div>