<ul class="headerlinks">
	      [[*live-stream:notempty=`<li><a href=""><button class="show-stream" type="button">live stream </button></a></li>`]]
[[*link-1-text:notempty=`<li><a href="[[*link-1]]" class="append"><button type="button">[[*link-1-text]]</button></a><span id="append-back"></span></li>`]]
      [[*link-2-text:notempty=`<li><a href="[[*link-2]]"><button type="button">[[*link-2-text]]</button></a></li>`]]
          <li><a href="https://www.facebook.com/polochannelnetwork" target="_blank"><div class="fa fa-facebook-official  fa-lg"></div></a></li>
      <li><a href="https://instagram.com/thepolochannel" target="_blank"><div class="fa fa-instagram  fa-lg"></div></a></li>
      <li><a href="mailto:contact@polochannel.com"><div class="fa fa-envelope  fa-lg"></div></a></li>
  </ul>