<tag class="[[+region:notempty=` [[+region:lcase]]`]][[+club:notempty=` [[#[[+club]].pagetitle:lcase]]`]][[+tags:notempty=` [[+tags:lcase:replace=`,== `]]`]]">
 <a href="#[[+youtube]]" class="link-lightbox" data-videoid="[[+youtube]]" data-videosite="[[+video-type:lcase]]">
 	<div class="img-contain">
	[[+video-type:is=`YouTube`:then=`<div style="background: url(http://img.youtube.com/vi/[[+youtube]]/mqdefault.jpg) no-repeat center center; background-size: cover;"></div>`:else=`<div class="vimeo-[[+youtube]]" data-vimeo="vimeo-img"></div>`]]
	</div>
    <br><h4 class="match-name">[[+pagetitle]]</h4><h4 class="vs">[[+content:striptags]]</h4></a>
</tag>