  <div class="arrows">
      <div class="left-arrow [[+description]]"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
      <div class="right-arrow [[+description]]"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <h3>[[+pagetitle]]</h3>
    <div class="cut-off" id="[[+description]]">

      <div class="vids search_list">
           [[getResources? &parents=`[[+id]]`&depth=`1`  &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`item` &includeContent=`1` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
      </div>
    </div>
  </div>