    <div class="arrows">
      <div class="left-arrow [[+description]]"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
      <div class="right-arrow [[+description]]"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <h3>Most Recent</h3>
    <div class="cut-off" id="sa">

      <div class="vids search_list">
           [[getResources? &parents=`1` &depth=`1`  &where=`{"template:=":1}` &sortby=`{"menuindex":"ASC"}` &includeContent=`1` &limit=`0` &tpl=`item` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
      </div>
    </div>
  </div>