@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);


html, body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}



#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 1000;
  text-align: center;
  transition: all 0.3s;
}

.loading-image {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: -103px;
  z-index: 1001;
}

.main-logo {
  	z-index: 1002;
	margin-top: -130px;
}

a:link {
	outline: none;
    text-decoration: none;
	color: #000000;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#000000;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#000;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* ------------------------------------------------------------------------------ header and nav */ 
@media only screen and (min-width: 0px) {
.headerimage {
	text-align: left;
}
.headerimage {
	margin-top: 14px;	
	margin-left: 10px;
}
.not-so-fixie {
		display: none;
	}
.fixed-header {
 	display: none;
}
.spacer {
	display: none;
	}

}

@media only screen and (min-width: 740px) {
	.not-so-fixie {
		display: block;
	}
	.fixed-header {
 	display: block;
}
.spacer {
	display: block;
	}
}

@media only screen and (min-width: 1080px) {
	.header {
	text-align: center;
}


.headerimage {
	margin-top: 14px;
	margin-left: 0px;
}
	
}

.not-so-fixie {
	width: 100%;
	z-index: 10;
	overflow: hidden;
}

.spacer {
	height: 120px;
}
.fixed-header {
 	position: fixed;
 	z-index: 20;
 	width: 100%;
}

.header {
	position: relative;
	width: 100%;
	height: 90px;
	background: #333;
	}

.headerlinks {
	position: absolute;
	right: 0;
}

.headerlinks li{
	display: inline-block;
	margin-top: 32px;
	margin-right: 20px;
	font-weight: 100;

	}

.headerlinks li div {
	color: white;
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.headerlinks li div:hover {
	color: #ff5c19;
}

.headerlinks button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	border-style: solid;
	border-color: rgba(180, 180, 180, 1);
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 2px;
	padding: 3px 6px 3px 6px;
	outline: none;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0);
	color: rgba(180, 180, 180, 1);
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.headerlinks button:hover {
	color: #ff5c19;
}

.header2 {
	position: relative;
	height: 30px;
	width: 100%;
	background: rgba(150, 150, 150, 1);
}

.nav {
	text-align: left;
	margin-left: 12px;
}

.nav li {
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
	vertical-align: middle;
	color: #fff;
}

.nav li img {
	position: relative;
	top: 3px;
}


.v-bar {
	position: relative;
	top: 2px;
	width: 2px;
	height: 25px;
	background-color: rgba(250, 250, 250, .2);
}





.showall {
	margin-top: 4px;
	cursor: pointer;
	z-index: 100;
	position: relative;
}

.row {
	width: 100%;
}

.col {
	position: relative;
	float: left;
	height: 100%;
	-ms-overflow-style: none;
	
}


.left {
	z-index: 10;
	position: absolute;
	width: 250px;
	background: rgba(120, 120, 120, .5);
	-ms-overflow-style: none;

	/* height: 100%; */
	overflow: scroll;
	/* left: -250px; add in to hide menu */
}

.left::-webkit-scrollbar { 
    display: none; 
}

.left {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.right {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	-webkit-transform: translate3d(0,0,0);

}

.right video {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url(images/background.jpg) no-repeat center top;
	background-size: cover;


	z-index: -20;
}

.right::after {
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 500px;
		background: #555;
		opacity: .8;
		position: absolute;
		z-index: -5;


		
	}

video {
 	display: block; 


}



/* ------------------------------------------------------------------------------ checkbox */ 
@media only screen and (min-width: 0px) {
	.limiter {
		min-width: 280px;
		width: 50%;
		margin: 0 auto;
	}
	}
}

@media only screen and (min-width: 1080px) {
	.limiter {
		width: 80%;
		margin: 0 auto;
	}
}

 .menu {
	position: absolute;
	z-index: 5;
	margin: 2%;
}

 .menu li{
 	width: 20px;
 	height: 3px;
 	margin: 3px;
 	background: #fff;
}

.x {
	position: absolute;
	right: 0;
	margin: 5px;
	z-index: 5;
}



.checkboxes {
	position: relative;
	overflow: scroll;
	font-size: 15px;
	text-transform: uppercase;
	text-align: right;
	height: 100%;
	font-weight: 100;
	color: white;
}

.checkboxes::-webkit-scrollbar { 
    display: none; 
}

.checkboxes ul {
	margin-top: 30px;
}

.checkboxes ul li{
	margin: 20px 30px 20px 10px;
	}

.checkbox {
   position: relative;
   zoom:1;
  transform:scale(2);
  -ms-transform:scale(2);
  -webkit-transform:scale(2);
  -o-transform:scale(2);
  -moz-transform:scale(2);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  margin-left: 20px; 
  margin-right: 20px;
  top: -8px;
}

/* ------------------------------------------------------------------------------ mobile nav */ 

@media only screen and (min-width: 0px) {
	.mobile-nav {
		display: block;
	}
	
}

@media only screen and (min-width: 740px) {
	.mobile-nav {
		display: none;
	}
		#search_input {
		position: relative;
		height: 20px;
		border-radius: 3px;
		border: none;
		top: 2px;
 		outline: none;
 		color: #000;
 		width: 90px;
	}
}
@media only screen and (min-width: 1080px) {
	#search_input {
		position: relative;
		height: 20px;
		border-radius: 3px;
		border: none;
		top: 2px;
 		outline: none;
 		color: #000;
 		width: auto;
	}
}

#search_input_mobile {
	position: relative;
	height: 20px;
	border-radius: 3px;
	border: none;
	top: 2px;
 	outline: none;
}

.header-mobile {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #555;
	z-index: 50;
}

.header-mobile img{
margin-left: 10px;
	margin-top: 5px;
	}

 .mobile-right-box {
	position: fixed;
	right: 0;
	margin-right: 10px;
	margin-top: 12px;
}

.mobile-right-box li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.mobile-right-box li a div{
	color: white;
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.mobile-right-box li a div:hover{
	color: #ff5c19;
}


 .menu-mobile li{
 	width: 20px;
 	height: 3px;
 	margin: 3px;
 	display: block;
 	background: rgba(255, 255, 255, .5);
 	-moz-transition: background 0.5s ease-in-out;
	-ms-transition:  background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}


.menu-mobile:hover li{
		background: rgba(255, 255, 255, 1)
}

.nav-mobile {
	top: -110%;
	position: fixed;
	background: rgba(0, 0, 0, .7);
	padding: 5px;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: scroll;

	}

.background-mobile{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 0;
		margin: 0;
		padding: 0;
		overflow: scroll;
	}

.x-mobile {
	position: absolute;
	left: 0;
	margin: 5px;
	z-index: 5;
}

.mobile-polo-links {
	width: 100%;
	
}

.mobile-polo-links li{
	display: inline-block;
	font-weight: 100;

	}

.mobile-polo-links button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	border-style: solid;
	border-color: rgba(180, 180, 180, 1);
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 2px;
	outline: none;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0);
	color: rgba(180, 180, 180, 1);
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.mobile-polo-links button:hover {
	color: #ff5c19;
}	

.mobile {
	position: relative;
	overflow: scroll;
	font-size: 15px;
	text-transform: uppercase;
	text-align: right;
	height: 100%;
	font-weight: 700;
	color: rgba(150, 150, 150, 1);
	z-index: 5;
}

.checkboxes .mobile::-webkit-scrollbar { 
    display: none; 
}

.checkboxes .mobile ul {
	margin-top: 30px;
}

.checkboxes .mobile ul li{
	margin: 20px 30px 20px 10px;
	}



/* ------------------------------------------------------------------------------ map  */


.map {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 800px;
	z-index: 1;
}

/* .map path {
	fill: url(#backgroundimage);
} */

#map-background {
	position: absolute;
}

.clock {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 100;
}

.nextgame{
	position: absolute;
	right: 0;
	z-index: 10;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	bottom: 20px;
	right: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	display: none;
}

.gamename {
	font-size: 14px;
}

.row-mobile {
	width: 100%;
	background: url(images/background.jpg) no-repeat center center;
	padding-top: 90px;
	padding-bottom: 50px;
}

.nextgame-mobile{
	position: relative;
	z-index: 10;
	color: #FFFFFF;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.right-content {
	width: 30%;
	color: white;
	position: absolute;
	right: 0;
	text-align: right;
}

/*

.right-content p{
	text-align: right;
	}

.right-content a{
	color: #ff5c19;
	font-weight: bold;
	}
*/

@media only screen and (min-width: 0px) {
	.right-content {
		font-size: 12px;
		max-width: 250px;
		}
}

@media only screen and (min-width: 900px) {
	.right-content {
		font-size: 15px;
		max-width: 300px;
		}
	}


/* ------------------------------------------------------------------------------ videos */
@media only screen and (min-width: 0px) {
	.right-arrow{
		display: none;
	}
	.left-arrow{
		display: none;
	}
	.video-list { 
	
	}
	.video-list tag {				/*------------ needs display inline not float due to white-space: nowrap on .vids; */ 
	vertical-align: top; 
	display: inline-block;
	margin: 60px 10px 10px 10px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.img-contain {
	width: 100px;
	height: 50px;
	overflow: hidden;
	margin: 0 auto;
}

tag img {
	width: 100px;
}
}

@media only screen and (min-width: 740px) {
	.video-list { 
	margin-top: auto;
	}
		.right-arrow{
		display: block;
	}
	.right-arrow img {
		width: 20px;
		margin-right: -5px;
		margin-top: 10px;
	}
	.left-arrow img {
		width: 20px;
		margin-left: 20px;
		margin-top: 10px;
	}
	.left-arrow{
		margin-top: 95px;
		display: block;
	}
	.video-list tag {				/*------------ needs display inline not float due to white-space: nowrap on .vids; */ 
	vertical-align: top; 
	display: inline-block;
	margin: 60px 10px 10px 10px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
}

.img-contain {
	width: 200px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
}

tag img {
	width: 200px;
}

	}

@media only screen and (min-width: 1200px) {
	.right-arrow{
		display: block;
	}
	.right-arrow img {
		width: 30px;
		margin-right: auto;
		margin-top: 10px;
	}
	.left-arrow img {
		width: 30px;
		margin-left: auto;
		margin-top: 10px;
	}
	.left-arrow{
		display: block;
		margin-top: 90px;
	}
}


.video-list {                  /*------------ main video container */ 
	position: relative;
	width: 100%;

}

.cut-off {						 /*------------ hides overflow forcing users to scroll */ 
	margin: 0 auto;
	width: 90%;
	overflow: scroll;
}

.cut-off::-webkit-scrollbar { 	
    display: none; 
}

.vids {							/*------------ subcat for each vid list (white-space: norwarp keeps the vids from jumping down to the next line) */ 
	width: auto;				/*------------ do no set to position absolute or h3 tag will go with scroll */ 
	margin: 0 auto;
	white-space: nowrap;
}

.vids::-webkit-scrollbar { 
	display: none; 
	}

.vids h3{
	position: absolute;
	text-transform: uppercase;
}



.left-arrow {
	position: absolute;
	left: 0;
	margin-left: 20px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.right-arrow {
	position: absolute;
	right: 0;
	margin-top: 90px;
	margin-right: 20px;
}


tspan {
	display: none;
}

.live-stream {
	position: fixed;
	z-index: 2000;
	width: 100%;
	top: 50%;
	}

.vid-contain {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid-contain iframe,
.vid-containr object,
.vid-contain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    min-width: 300px;
    min-height: 250px;
    margin: 0 auto;
    right: 0;
    left:  0;
    overflow: hidden;
}

.background-color {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .8);
	z-index: 1000;
	color: white;
	text-align: right;
}

.background-color img{
	margin: 20px;
	width: 20px;
}


.row-mobile button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	border-style: solid;
	border-color: rgba(180, 180, 180, 1);
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 2px;
	padding: 3px 6px 3px 6px;
	outline: none;
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0);
	color: rgba(180, 180, 180, 1);
	-moz-transition: color, 0.5s ease-in-out;
	-ms-transition:  color, 0.5s ease-in-out;
	-webkit-transition: color, 0.5s ease-in-out;
	transition: color, 0.5s ease-in-out;
}

.row-mobile button:hover {
	color: #ff5c19;
}

.row-mobile {
	text-align: center;
}

