[[$doc_head]]
[[$subscribe]]


<body>


 <div id="loading">
     <img class="loading-image main-logo"src="images/mainlogo_black.png" alt="">
       <img class="loading-image" src="images/loading.gif" alt="Loading..." />
  </div>

<div class="fixed-header">
  <div class="header">
    [[$header3_subpage]]
      [[$buttons]]
    <a href="/"><img src="images/mainlogo.png" alt="" height="70" class="headerimage"></a>
  </div>

</div>
<div class="spacer"></div>







<!-- _____________________________________________________________________________________ mobile menu !-->


<div class="mobile-nav">
  
  <div class="header-mobile">
    <ul class="mobile-right-box">

      <li><a href="https://www.facebook.com/polochannelnetwork" target="_blank"><div class="fa fa-facebook-official"></div></a></li>
      <li><a href="https://instagram.com/thepolochannel" target="_blank"><div class="fa fa-instagram"></div></a></li>
      <li><a href="mailto:contact@horseplay.tv"><div class="fa fa-envelope"></div></a></li>
       <li> 
          <ul class="menu-mobile">
              <li></li>
              <li></li>
              <li></li>
          </ul>
       </li>
    </ul>
      <a href="/"><img src="images/mainlogo.png" alt="" height="40" ></a>
  </div>
  

    <div class="nav-mobile">
      <div class="checkboxes mobile">
        <div class="x-mobile"><img src="images/x.png" width="20" alt=""></div>
         <div class="background-mobile"></div>
		    [[$header3_subpage]]
      		[[$buttons]]

    	</div>
    </div>
</div>

<div class="blog-list">
[[!getResources? &parents=`187` &limit=`999` &tpl=`blog-list` &includeTVs=`1` &processTVs=`1`]]
</div>

[[$doc_footer]]
